In [10]:
#Collection Of list from user.
#Total number of items
num = eval(input("Enter a list of integers: "))


print(len(num))

Enter a list of integers: [1,5,2,6,24]
5

In [11]:
#The last number on the list.
print(num[-1])

24

In [12]:
#Reversing the list.
num.reverse()
print(num)

[24, 6, 2, 5, 1]

In [13]:
#Removing first number
num.remove(num[0])
print(num)

[6, 2, 5, 1]

In [14]:
#Remove last number
num.remove(num[-1])
print(num)

[6, 2, 5]

In [16]:
num.sort()
print(num)

[2, 5, 6]

# Exercise 2

In [18]:
#Import twenty random numbers.
import random
lit = []

for i in range (20):
    lit.append(random.randint(0,100))
print(lit)

[0, 76, 39, 45, 17, 28, 18, 15, 66, 6, 30, 17, 59, 44, 27, 26, 93, 20, 44, 53]

In [19]:
#Average of elements in the list.
avg = sum(lit)/len(lit)
print(avg)

36.15

In [21]:
#Highest value
maximum = max(lit)
print(maximum)

93

In [22]:
#Lowest value
minimum = min(lit)
print(minimum)

0

In [23]:
#Second largest
lit.sort()
print(lit[-2])

76

In [24]:
#Second Smallest
print(lit[1])

6

# Exercise 3

In [46]:
#lists
L = [8,9,10]
print(L)

[8, 9, 10]

In [47]:
#Changing Second entry
L[1] = 17
print(L)

[8, 17, 10]

In [48]:
#Add entries.
L.append(4)
L.append(5)
L.append(6)
print(L)

[8, 17, 10, 4, 5, 6]

In [49]:
#Remove first entry
L.remove(L[0])
print(L)

[17, 10, 4, 5, 6]

In [50]:
#Sort list
L.sort()
print(L)

[4, 5, 6, 10, 17]

In [51]:
#Double List
Double = L*2
print(Double)

[4, 5, 6, 10, 17, 4, 5, 6, 10, 17]

In [52]:
#Insert 25 at index 3
Double.insert(3,25)
print(Double)

[4, 5, 6, 25, 10, 17, 4, 5, 6, 10, 17]