In [1]:
#Reverse function
aTuple = (10, 20, 30, 40, 50)
aTuple = aTuple[::-1]
print(aTuple)

(50, 40, 30, 20, 10)

In [2]:
#Accessing of value
aTuple = ('Orange', [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

In [3]:
#Single item
Num = (50,)
print(Num)

(50,)

In [4]:
#Unpacking the Tuples
aTuple = (10 ,20, 30, 40)
a = aTuple[0]
b = aTuple[1]
c = aTuple[2]
d = aTuple[3]

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [7]:
#Swaping of tuple
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1

print('tuple1 = ', tuple1)
print('tuple2 = ', tuple2)

tuple1 =  (99, 88)
tuple2 =  (11, 22)

In [8]:
#Copying of element
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = (tuple1[3:5])

print('tuple2 = ', tuple2)

tuple2 =  (44, 55)

In [10]:
#Modifying the tuple
tuple1 = (11, [22,33], 44, 55)

tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [14]:
#Sorting by 2nd item
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
sorted(tuple1, key = lambda x: x[1])

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

In [15]:
#COunting no of occurence of item 50
tuple1 = (50, 10, 60, 70, 50)

tuple1.count(50)

2

In [34]:
# Checking if all the items in the tuples are the same

tuple1 = (45, 45, 45, 45)
tuple2 = tuple1[0] 

flag = 0
for i in tuple1:
    if i == tuple2:
        flag = 0
    else:
        flag = 1
        
if flag == 0:
    print(True)
else:
    print(False)

True

# DICTIONARIES

In [35]:
#Conversion of list to a dictionary
keys = ['Ten', 'Twenty','Thirty']
values = [10, 20, 30]

Dictionary = dict(zip(keys, values))
print(Dictionary)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [36]:
#Merging of two dictionaries together
dict1 = {'Ten' : 10, 'Twenty' : 20, 'Thirty' : 30}
dict2 = {'Thirty' : 30, 'Fourty' : 40, 'Fifty' : 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [37]:
#Accessing the value of key 'History'
SampleDict = {
    'Class' : {
        'Student' : {
            'name' : 'Mike',
            'marks' : {
                'physics' : 70,
                'history' : 80
            }
        }
    }
}

print(SampleDict['Class']['Student']['marks']['history'])

80

In [38]:
#Initializing a dictionary with default values
employees = ['Kelly', 'Emma', 'John']
defaults = {'designation' : 'Application Developer', 'salary' : 8000}

Dictionary = dict.fromkeys(employees, defaults)
print(Dictionary)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [39]:
#Creating a new dictionary
sampleDict = {
    'name' : 'Kelly',
    'age' : 2,
    'salary' : 8000,
    'city' : 'New york'
}

keys = ['name', 'salary']
Dict = {k: sampleDict[k] for k in keys}
print(Dict)

{'name': 'Kelly', 'salary': 8000}

In [40]:
#Deleting Set of keys
sampleDict = {
    'name' : 'Kelly',
    'age' : 25,
    'salary' : 8000,
    'city' : 'New york'
 }
keysToRemove = ['name', 'salary']

sampleDict.pop('name')
sampleDict.pop('salary')

print(sampleDict)

{'age': 25, 'city': 'New york'}

In [41]:
#Checking if a value 200 exist in the dictionary
sampleDict = {'a' : 100, 'b' : 200, 'c' : 300}
values = sampleDict.values()

print(200 in sampleDict.values())

True

In [42]:
#Rename Key city to location
sampleDict = {
    'name' : 'Kelly',
    'age' : 25,
    'salary' : 8000,
    'city' : 'New york'
}

sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [43]:
#Keys of Minimum Values
sampleDict = {
    'Physics' : 82,
    'Math' : 65,
    'history' : 75
}
print(min(sampleDict, key = sampleDict.get))

Math

In [44]:
#Changing Brad's salary to 8500
sampleDict = {
    'emp1' : {'name' : 'Jhon', 'salary' : 7500},
    'emp2' : {'name' : 'Emma', 'salary' : 8000},
    'emp3' : {'name' : 'Brad', 'salary' :6500}
}

sampleDict['emp3']['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}