# SETS

Sets are unordered, Duplicates are not allowed. 

A set can be modified, but the element contained in the set must be of an immutable type.

We Use the Curly bracket to define a set {}

In [1]:
x1 = {'foo', 'bar', 'baz'}

x2 = {'baz', 'qux', 'quuz'}

In [2]:
# Union of set x1 & x2
x1 | x2

{'bar', 'baz', 'foo', 'quuz', 'qux'}

In [3]:
# Another way to do Union
x1.union(x2)

{'bar', 'baz', 'foo', 'quuz', 'qux'}

In [4]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

a | b | c | d

{1, 2, 3, 4, 5, 6, 7}

In [5]:
a.union(b, c, d)

{1, 2, 3, 4, 5, 6, 7}

In [6]:
# Intersection of sets
x1 & x2

{'baz'}

In [7]:
# Another method to do intersection
x1.intersection(x2)

{'baz'}

In [8]:
# Difference of a set
x1 - x2

{'bar', 'foo'}

In [9]:
# Another Way to do difference of set
x2.difference(x1)

{'quuz', 'qux'}

In [10]:
a = {1, 2, 3, 30,300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

b.difference(a,c)

{10, 20, 40}

In [11]:
# Symmetric difference returns element in all the set removing the intersection
x1 ^ x2

{'bar', 'foo', 'quuz', 'qux'}

In [12]:
# Another way to do symmetric difference
x1.symmetric_difference(x2)

{'bar', 'foo', 'quuz', 'qux'}

In [13]:
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

a ^ b ^ c

{5, 10, 100}

In [14]:
# To Check if two sets are disjoint
x1.isdisjoint(x2)

False

In [15]:
# Subsets of a set
# A set is said to be a subset of another if the elements in the first set is contained in the other

x = {'foo', 'bar', 'baz'}
y = {'foo', 'bar', 'baz', 'qux', 'quux'}

x.issubset(y)

True

In [16]:
# Another Way to do subset

x <= y

True

In [17]:
y <= x
# This ans is false cause y is not a subset of x

False

In [18]:
''' To Check if a set is super set of another
its the reverse of subset

i.e  Every element of x is contained in y , So y is a super set of x'''

y.issuperset(x)

True

In [19]:
y >= x

True

In [23]:
# Modification of sets
# Adding an item
xx = {'foo', 'bar', 'baz'}

xx.add('num')
xx

{'bar', 'baz', 'foo', 'num'}

In [24]:
# Removing of item
xx.remove('baz')

xx

{'bar', 'foo', 'num'}

In [26]:
# Difference between discard and remove 
# For Discard , if the element is not there, it will just bring it back the last code but won't throw an error unlike remove which will throw an error if the element is not there

xx.discard('baz')
xx

{'bar', 'foo', 'num'}

In [27]:
# Pop removes any element in the set

xx.pop()

xx

{'foo', 'num'}